* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	line-height: 1.5em;
}

a {
    text-decoration: none;
    color: black;
	font-weight: bold;
}

p {
	margin: 0;
}

img {
	max-width: 100%;
}
/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
 
.l-box {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 0.3em;
	margin-right: 0.3em;
	border: 0.1em solid lightblue;
}

.l-box-lrg {
	padding: 1em;
}

.is-center {
    text-align: center;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: black;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu li a , .l-box li a{
    color: black;
}

li a:hover,
li a:focus {
    background: none;   
    border: none;
    color: #8470FF;
}

/* This is the class used for the footer */
.footer {
    background: #111;
	color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
	z-index: 1;
	padding: 0.2em;
}

.post {
    padding-bottom: 2em;
}

.post-title {
    font-size: 1.5em;
    color:black;
    margin-bottom: 0.2em;
	font-weight: bold;
}

.post-detail {
    font-family: Georgia, "Cambria", serif;
    color:black;
    line-height: 1.8em;
	border-bottom: 1px solid #eee;
}

.post-meta {
    color: #999;
    font-size: 0.9em;
    margin: 0;
}


.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
} 

.type {
	background-color:#6495ED ;
	color:black;
}

.sidebar {
	color: black;
	border-right: 1px solid #ccc;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
