<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/pure-min.css" integrity="sha384-CCTZv2q9I9m3UOxRLaJneXrrqKwUNOzZ6NGEUMwHtShDJ+nCoiXJCAgi05KfkLGY" crossorigin="anonymous">
		<link href="index.css" rel="stylesheet" type="text/css" />
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
			<a class="pure-menu-heading" href="index">网站首页</a>
			<div class="pure-menu-list">
				<li class="pure-menu-item"><a href="u?type=news" class="pure-menu-link">新闻报道</a></li>
				<li class="pure-menu-item"><a href="u?type=acm" class="pure-menu-link">人大ACM</a></li>
				<li class="pure-menu-item"><a href="u?type=member" class="pure-menu-link">成员简介</a></li>
				<li class="pure-menu-item"><a href="u?type=teacher" class="pure-menu-link">教师课件</a></li>
				<li class="pure-menu-item"><a href="u?type=solution" class="pure-menu-link">解题报告</a></li>
				<li class="pure-menu-item"><a href="oj" class="pure-menu-link">OnlineJudge</a></li>
				<li class="pure-menu-item"><a href="login" class="pure-menu-link">登入</a></li>
				<li class="pure-menu-item"><a href="reg" class="pure-menu-link">注册</a></li>
			</div>
		</div>
		
		<div class="splash"><form class="pure-form pure-form-aligned" method="post"><fieldset>
			<p style="color: red;"><%=hint %></p>
			<div class="pure-control-group">
				<label for="name">用户名</label>
				<input id="username" name="username" type="text" placeholder="Username">
			</div>

			<div class="pure-control-group">
				<label for="password">密码</label>
				<input id="password" name="password" type="password" placeholder="Password">
			</div>
			<br /><button name="submit" type="submit" value="forget" class="pure-button">忘记密码</button>
			&emsp;&emsp;<button name="submit" type="submit" value="login" class="pure-button pure-button-primary">登入</button>
		</fieldset></form></div>


		<div class="footer l-box is-center">
			All Copyright Reserved RUC ACM-TEAM
		</div>
	</body>
</html>
